body {
    font-family: "chaparral-pro", serif;
    color: #555;
    margin: 0px;
    background-image: url(../images/background.png);
}

header {
    display: block;
}

nav {
    display: block;
    float: left;
}

section {
    display: block;
}

article {
    display: block;
}

footer {
    display: block;
}

h1 {
    font-family: "futura-pt", sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    color: #555;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 50px;
}

h2 , h2 a {
    color: #D99172;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px 5px 0px;
}

h3 {
    color: #555555;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin: 2px 0px 2px 0px;
}

a {
    text-decoration: none;
    color: #D99172;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#top-header {
    width: 382px;
    margin: auto;
}

#content {
    padding-top: 30px;
    padding-bottom: 60px;
}

#posts {
    width: 740px;
    margin: auto;
}

#posts article {
    background-color: white;
    padding: 20px;
}

#posts article section {
    margin-left: 120px;
}

#posts footer {
    margin-left: 120px;
}

#posts footer section {
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px 0px 20px;
}

#posts p {
    margin-bottom: 30px;
    font-size: 17px;
    color: #555555;
}

#posts p a ,
#login a {
    color: #D99172;
    text-decoration: underline;
}

#posts article img {
    display: block;
    margin: auto;
}

#main-footer {
    background-color: #F0EFF1;
    min-width: 1120px;
    text-align: center;
    color: #928F80;
}

#main-footer section {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-family: "futura-pt", sans-serif;
    font-size: 24px;
    margin: 20px;
}

#main-footer a {
    color: #928F80;
}

#main-footer h1 {
    color: #8C9096;
    margin: 0 0 5px 0;
}

#main-footer li {
    padding: 2px;
}

#main-footer h1.yellow {
    color: #D99172;
}

#main-footer form {
    text-align: right;
}

#main-footer input {
    display: block;
}

#main-footer input.text {
    font-family: "chaparral-pro", serif;
    font-size: 14px;
    border: none;
    width: 133px;
    height: 20px;
    padding-left: 2px;
}

#main-footer input.button {
    font-family: "futura-pt", sans-serif;
    font-size: 24px;
    margin: 5px 0 0 110px;
    padding: 0px;
    border: none;
    background: none;
    color: #928F80;
    cursor: pointer;
}

#contact {
    font-family: "chaparral-pro", serif;
    font-size: 14px;
}

#comments {
    width: 700px;
    margin: auto;
    padding: 30px;
    background-color: white;
}

textarea,
input.text {
    border: 1px solid #928F80;
    border-radius: 4px;
    font-family: "chaparral-pro", serif;
    font-size: 18px;
    padding: 5px 5px 0 5px;
    color: #555;
}

#comments textarea {
    padding: 20px;
    width: 600px;
}

#comments h2 {
    font-family: "futura-pt", sans-serif;
    color: #555;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
}

#social {
    margin-left: 40px;
}

#social a {
    background-color: #D99172;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 34px;
    padding: 4px;
    margin: 0px;
    height: 26px;
    width: 26px;
    border-radius: 5px;
}

.button {
    font-family: "futura-pt", sans-serif;
    color: #555;
    border: none;
    background: none;
    font-size: 26px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0px;
}

.nav-menu {
    width: 280px;
}

.nav-menu li {
    text-transform: uppercase;
}

.nav-menu-item {
    position: relative;
    left: 100px;
    top: 9px;
    margin-left: 10px;
    font-family: "futura-pt", sans-serif;
    color: white;
    font-size: 22px;
    line-height: 30px;
    width: 0px;
    -webkit-transform: skewX(5deg) skewY(2deg);
    -moz-transform: skewX(5deg) skewY(2deg);
    -o-transform: skewX(5deg) skewY(2deg);
}

.nav-menu > li > a {
    display: block;
    position: relative;
    left: -100px;
    background-color: #D99172;
    width: 300px;
    height: 50px;
    margin: 10px;
    padding: 3px;
    -webkit-transform: skewX(-5deg) skewY(-2deg);
    -moz-transform: skewX(-5deg) skewY(-2deg);
    -o-transform: skewX(-5deg) skewY(-2deg);
    -moz-box-shadow: 3px 3px 5px #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
    box-shadow: 3px 3px 5px #ccc;
}

.nav-sub-menu {
    font-size: 15px;
    margin-left: 50px;
}

.nav-sub-menu > li > a {
    color: #666666;
}

.date {
    font-family: "futura-pt", sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 48px;
    color: #999999;
}

.slash {
    display: inline-block;
    width: 0px;
    height: 59px;
    border-left: 1px solid #D0B88E;
    -webkit-transform: skewX(-20deg) skewY(0deg);
    -moz-transform: skewX(-20deg) skewY(0deg);
    -o-transform: skewX(-20deg) skewY(0deg);
}

.sidebar {
    position: fixed;
    right: 10px;
    top: 40px;
    border: 1px solid #AAA;
    padding: 5px;
    background-color: white;
}

.comment p {
    margin-left: 94px;
}

.comment-author {
    font-size: 17px;
    font-weight: bold;
}

.comment-author img {
    float: left;
    margin: 0 30px 15px 0;
}

.comment-meta {
    padding-bottom: 10px;
    border-bottom: 1px solid #95CEC7;
    width: 300px;
    margin-left: 94px;
}

.comment-meta a {
    font-size: 16px;
    font-style: italic;
    color: #999;
}

#disqus_thread {
    background-color: white;
    width: 700px;
    margin: auto;
    padding: 20px;
}

#main-nav-above,
#main-nav-below {
    padding: 20px;
}

#main-nav-above a,
#main-nav-below a {
    color: #555;
    margin: 4px;
    font-size: 28px;
}

#main-nav-above .nav-previous:before,
#main-nav-below .nav-previous:before,
#main-nav-above .nav-previous:after,
#main-nav-below .nav-previous:after {
    content: url(../images/black-arrow-left.png);
    margin: 5px;
}

#main-nav-above .nav-next:before,
#main-nav-below .nav-next:before,
#main-nav-above .nav-next:after,
#main-nav-below .nav-next:after {
    content: url(../images/black-arrow-right.png);
    margin: 5px;
}

#nav-above,
#nav-below {
    padding: 10px 10px 0 10px;
}

#nav-above a,
#nav-below a {
    color: #555;
    margin: 4px;
    font-size: 18px;
}

#nav-above .nav-previous:before,
#nav-below .nav-previous:before {
    content: url(../images/black-arrow-left.png);
    margin: 5px;
}

#nav-above .nav-next:after,
#nav-below .nav-next:after {
    content: url(../images/black-arrow-right.png);
    margin: 5px;
}

.navigation {
    background-color: white;
    width: 700px;
    margin: auto;

}

.navigation a {
    font-family: "futura-pt", sans-serif;
    text-transform: uppercase;
}

.nav-next,
.nav-previous {
    display: inline-block;
}

.nav-next {
    float: right;
}

#posts a.pinit {
    background-image: url(../images/pinit.png);
    width: 100px;
    height: 100px;
    padding: 0;
    margin: -50px;
    position: relative;
    bottom: 60px;
    right: 40px;
    float: right;
    display: none;
}
