header {
    display: block;
}

nav {
    display: block;
    float: left;
}

section {
    display: block;
}

article {
    display: block;
}

footer {
    display: block;
}

h1 {
    font-family: 'Terminal Dosis Light', sans-serif;
    font-size: 64px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 50px;
}

h2 {
    color: #95CEC7;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px 5px 0px;
}

h3 {
    color: #555555;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin: 2px 0px 2px 0px;
}

a {
    text-decoration: none;
    color: #555555;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#top-header {
    margin-left: 270px;
}

#content {
    padding-top: 30px;
    padding-bottom: 60px;
    background-image: url(../images/background.png);
}

#posts {
    margin-left: 350px;
    width: 740px;
}

#posts article {
    background-color: white;
    padding: 20px;
}

#posts article section {
    margin-left: 120px;
}

#posts footer {
    margin-left: 120px;
}

#posts footer section {
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px 0px 20px;
}

#posts p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #555555;
}

.nav-menu li {
    text-transform: uppercase;
}

.nav-menu-item {
    position: relative;
    left: 100px;
    top: 5px;
    margin-left: 10px;
    font-family: 'Terminal Dosis Light', sans-serif;
    color: white;
    font-size: 28px;
    width: 0px;
    -webkit-transform: skewX(5deg) skewY(2deg);
    -moz-transform: skewX(5deg) skewY(2deg);
    -o-transform: skewX(5deg) skewY(2deg);
}

.nav-menu > li > a {
    display: block;
    position: relative;
    left: -100px;
    background-color: #95CEC7;
    width: 300px;
    height: 50px;
    margin: 10px;
    padding: 3px;
    -webkit-transform: skewX(-5deg) skewY(-2deg);
    -moz-transform: skewX(-5deg) skewY(-2deg);
    -o-transform: skewX(-5deg) skewY(-2deg);
    -moz-box-shadow: 3px 3px 5px #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
    box-shadow: 3px 3px 5px #ccc;
}

.nav-sub-menu {
    font-size: 13px;
    font-style: italic;
    margin-left: 50px;
}

.nav-sub-menu > li > a {
    color: #666666;
}

.date {
    font-family: 'Terminal Dosis Light', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.date .month {
    color: #999999;
}

.badge {
    display: inline-block;
    background-image: url(../images/badge.png);
    color: white;
    width: 47px;
    height: 43px;
    padding-top: 4px;
    text-align: center;
}

.slash {
    display: inline-block;
    width: 24px;
    height: 59px;
    background-image: url(../images/slash.png);
}
