
@font-face {
    font-family: 'OstrichSansBlack';
    src: url('fonts/ostrich/ostrich-black-webfont.eot');
    src: url('fonts/ostrich/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich/ostrich-black-webfont.woff') format('woff'),
         url('fonts/ostrich/ostrich-black-webfont.ttf') format('truetype'),
         url('fonts/ostrich/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OstrichSansRoundedMedium';
    src: url('fonts/ostrich/ostrich-rounded-webfont.eot');
    src: url('fonts/ostrich/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich/ostrich-rounded-webfont.woff') format('woff'),
         url('fonts/ostrich/ostrich-rounded-webfont.ttf') format('truetype'),
         url('fonts/ostrich/ostrich-rounded-webfont.svg#OstrichSansRoundedMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Gentium Basic', serif;
    color: #555;
    margin: 0px;
}

header {
    display: block;
}

nav {
    display: block;
    float: left;
}

section {
    display: block;
}

article {
    display: block;
}

footer {
    display: block;
}

h1 {
    font-family: 'OstrichSansBlack', sans-serif;
    font-size: 64px;
    font-weight: normal;
    text-transform: uppercase;
    color: #555;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 50px;
}

h2 , h2 a {
    color: #95CEC7;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0px 5px 0px;
}

h3 {
    color: #555555;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    margin: 2px 0px 2px 0px;
}

a {
    text-decoration: none;
    color: #555555;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#top-header {
    width: 646px;
    margin: auto;
}

#content {
    padding-top: 30px;
    padding-bottom: 60px;
    background-image: url(../images/background.png);
}

#posts {
    width: 740px;
    margin: auto;
}

#posts article {
    background-color: white;
    padding: 20px;
}

#posts article section {
    margin-left: 120px;
}

#posts footer {
    margin-left: 120px;
}

#posts footer section {
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px 0px 20px;
}

#posts p {
    margin-bottom: 30px;
    font-size: 18px;
    color: #555555;
}

#main-footer {
    background-color: #95CEC7;
    text-align: center;
    color: white;
}

#main-footer section {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    font-family: 'OstrichSansBlack', sans-serif;
    font-size: 24px;
    margin: 20px;
}

#main-footer a {
    color: white;
}

#main-footer h1 {
    font-size: 56px;
    color: #8C9096;
    margin: 0 0 5px 0;
}

#main-footer li {
    padding: 2px;
}

#main-footer h1.yellow {
    color: #FAFF69;
}

#main-footer form {
    text-align: right;
}

#main-footer input {
    display: block;
}

#main-footer input.text {
    font-family: 'Gentium Basic', serif;
    font-size: 14px;
    border: none;
    width: 133px;
    height: 20px;
    padding-left: 2px;
}

#main-footer input.button {
    font-family: 'OstrichSansBlack', sans-serif;
    font-size: 24px;
    margin: 5px 0 0 110px;
    padding: 0px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

#contact {
    font-family: 'Gentium Basic', serif;
    font-size: 14px;
}

#comments {
    width: 700px;
    margin: auto;
    padding: 30px;
    background-color: white;
}

#comments textarea,
#comments input.text {
    border: 1px solid #95CEC7;
    font-family: 'Gentium Basic', serif;
    font-size: 18px;
    color: #555;
}

#comments textarea {
    padding: 20px;
    width: 600px;
}

#comments h2 {
    font-family: 'OstrichSansBlack', sans-serif;
    color: #555;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
}

#commentform .button {
    font-family: 'OstrichSansBlack', sans-serif;
    color: #555;
    border: none;
    background: none;
    font-size: 26px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0px;
}

.nav-menu li {
    text-transform: uppercase;
}

.nav-menu-item {
    position: relative;
    left: 100px;
    top: 9px;
    margin-left: 10px;
    font-family: 'OstrichSansRoundedMedium', sans-serif;
    color: white;
    font-size: 32px;
    width: 0px;
    -webkit-transform: skewX(5deg) skewY(2deg);
    -moz-transform: skewX(5deg) skewY(2deg);
    -o-transform: skewX(5deg) skewY(2deg);
}

.nav-menu > li > a {
    display: block;
    position: relative;
    left: -100px;
    background-color: #95CEC7;
    width: 300px;
    height: 50px;
    margin: 10px;
    padding: 3px;
    -webkit-transform: skewX(-5deg) skewY(-2deg);
    -moz-transform: skewX(-5deg) skewY(-2deg);
    -o-transform: skewX(-5deg) skewY(-2deg);
    -moz-box-shadow: 3px 3px 5px #ccc;
    -webkit-box-shadow: 3px 3px 5px #ccc;
    box-shadow: 3px 3px 5px #ccc;
}

.nav-sub-menu {
    font-size: 15px;
    margin-left: 50px;
}

.nav-sub-menu > li > a {
    color: #666666;
}

.date {
    font-family: 'OstrichSansBlack', sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 48px;
}

.date .month {
    color: #999999;
}

.badge {
    display: inline-block;
    background-image: url(../images/badge.png);
    color: white;
    width: 47px;
    height: 43px;
    padding-top: 4px;
    text-align: center;
}

.slash {
    display: inline-block;
    width: 24px;
    height: 59px;
    background-image: url(../images/slash.png);
}

.sidebar {
    position: fixed;
    right: 10px;
    top: 40px;
    border: 1px solid #AAA;
    padding: 5px;
    background-color: white;
}

.comment p {
    margin-left: 94px;
}

.comment-author {
    font-size: 17px;
    font-weight: bold;
}

.comment-author img {
    float: left;
    margin: 0 30px 15px 0;
}

.comment-meta {
    padding-bottom: 10px;
    border-bottom: 1px solid #95CEC7;
    width: 300px;
    margin-left: 94px;
}

.comment-meta a {
    font-size: 16px;
    font-style: italic;
    color: #999;
}
