/*
 * Theme Name: AliCitron
 * Theme URI: http://alisoncitron.com/
 * Description: Alison Citron's blog theme.
 * Author: Alison Citron
 * Author URI: http://alisoncitron.com/
 * Template: sandbox
 * Version: 2.0
 * Tags: design
 *
 * License:
 * License URI:
 *
 * General comments (optional).
 * */
